<% if flash[:alert] %>
	<div class="alert alert-danger" role="alert">
		<%= flash[:alert] %>
	</div>
<% else %>
	<% if flash[:notice] %>
		<div class="alert alert-success" role="alert">
			<%= flash[:notice] %>
		</div>
	<% end %>
<% end %>
<h1 class="text-center">Articles Listing </h1>  
<% @articles.each do |article| %>
	<div class="card_size">
		<div class="card">
			<div class="card-header">By-
				<%= article.user.username %>
			</div>
			<div class="card-body">
				<h5 class="card-title"><%= article.title %></h5>
				<p class="card-text"><%= truncate(article.description, length: 60) %></p>
				<%= link_to 'Show', article_path(article), class: "btn btn-success" %>
				<% if user_signed_in? && article.user == current_user %>
					<%= link_to 'Edit', edit_article_path(article), class: "btn btn-secondary ml-1" %>
					<%= link_to 'Delete', article_path(article), method: :delete, class: "btn btn-danger ml-1" %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<p class="mt-5"><%= link_to 'Create new Article', new_article_path, class: "btn btn-success" %></p>

